/* Common rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: 'Dosis', sans-serif;
}


/* container */
#container {
    width: 80%;
    margin: auto;
}

/* header */

header {
    margin: auto;
}

h1 {
    font-weight: 700;
    color: #D7155E;
    text-align: center;
    margin-top: 1rem;
}

 header > p {
    text-align: center;
    margin-top: 2rem;
 }


/* cards */
.col-4 {
    float: left;
}