/* Common rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: 'Dosis', sans-serif;
}


/* container */
#container {
    width: 70%;
    margin: auto;
}

/* header */

header {
    margin: auto;
}

h1 {
    font-weight: 700;
    color: #D7155E;
    text-align: center;
    margin-top: 1.5rem;
}

 header > p {
    text-align: center;
    margin-top: 2rem;
 }


/* cards */
.row {
    margin-top: 1rem;
}

.col-4 {
    float: left;
    background-color: black;
    width: calc(90% / 3);
    margin: 1rem;
    box-shadow: 0 0 6px black;
}

img {
    float: left;
    background-color: black;
    width: 35%;
    padding-right: 1.5rem;
    vertical-align: middle;
}

.info {
    color: white;
    margin: 1rem;
    vertical-align: middle;
    font-size: 1.2rem;
}

h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

a {
    color: #0093E7;
    text-decoration: none;
}


/* footer */
#footer {
    margin: 3rem auto;
    width: 70%;
    text-align: center;
}